.nav_main{
    z-index: 100;
    background-color: #092342;
    margin-top: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 12vh;
}

ul.menu{
    display: flex;
    padding: 0;
    justify-content: center;
}

li.main_menu_el{
    padding: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0;
}

li.main_menu_el:nth-child(2){
    margin-left: 0.5vw;
}

li.main_menu_el:nth-child(5){
    padding-top: 0;
}

li.main_menu_el a:hover{
    color: #DDE336;
    transition: color .5s ease;
}

li.main_menu_el a{
    color: #fff;
    text-transform: uppercase;
}

.logo_img{
    padding-top: 0;
    z-index: 100;
    position: relative;
    height: 150px;
    width: 150px;
}

.logo_img:hover{
    transform: scale(0.9);
    transition: transform .5s ease-in-out;
}

.main_menu_el > .fas{
    color: #DDE336;
    transform: rotate(90deg);
    margin-right: 0.5rem;
}

.button{
    background-color: inherit;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 0.3em;
    color: #fff;
    box-shadow: 0 0 0;
    border-style: solid;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    position: relative;
    top: -0.5vw
}

.button:hover{
    background-color: #fff;
    color: #092342;
    transition: all .5s ease;
    cursor: pointer
}

.s_welcome{
    background-image: url('../img/welcome_bgi.png');
    background-size: cover;
    height: 600px;
}

.s_welcome > span{
    position: relative;
    font-size: 18px;
    color: #ffffff;
    margin-left: 43vw;
    bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 600px 600px 0 600px;
    border-color: #092342 transparent transparent transparent;
    position: absolute;
    left: 18.7vw;
}

.title_h1{
    font-family: 'Oswald', sans-serif;
    color: #DDE336;
    text-transform: uppercase;
    font-size: 50px;
    position: relative;
    padding-right: 70px;
    padding-top: 100px;
    text-align: center;
}

.square{
    width: 125px;
    height: 125px;
    background: red;
    transform: rotate(45deg);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.square:first-child{
    bottom: 20px;
    margin-top: 10px;
}

.squares{
    position: relative;
    left: 2.7vw;
    height: 2vh;
}

.square{
    background-color: #07B5D8;  
}
.square:nth-child(3n+1){
    left: 44vw;
    background-color: #fff;
}



.square:nth-child(3n+2){
    left: 39vw;
    bottom: 40px;
}

.square:nth-child(3n+3){
    left: 49vw;
    bottom: 165px;
}

.square:last-child{
    bottom: 190px;
}

.square > img{
    width: 75px;
    height: 75px;
    transform: rotate(-45deg);
}

.square > span{
    text-align: center;
    background-color: inherit;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #092342;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 5px;
    white-space: nowrap;
    transform: rotate(-45deg);
}




