
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    background-color: #EFF3F4;
    overflow-x: hidden
}


iframe{
    border:none;
    overflow: hidden;
    overflow: hidden;
    width: 120px;
    height: 21px;
}

#toggle_menu{
    display: none;
}

button{
    border-style: solid;
}
ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
    padding: 0;
    justify-content: center;
}

li{
    padding: 15px;
    margin-top: 30px;
}

ul.feature_list > li{
    margin-top: 0;
}

.feature_header{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: #092342;
}

.triangle-sub{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vh 99vw 0 0;
    border-color: #092342 transparent transparent transparent;    
}

.section_title{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.s_feature{
    width: 100%;
    overflow: hidden;
}


.feature{
    text-align: center;
    position: relative;
    width: 250px;
    color: #000;
}

.feature_title{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.separator{
    margin-top: 13px;
    margin-bottom: 15px;
    background-color: #dde336;
    height: 4px;
    width: 33px;
    align-items: center;
}


.separator_small{
    margin: 10px auto 20px;
}

.composition_head{
    margin-left: 25%;
    margin-top: 40px;
}

.composition_main{
    height: 400px;
    position: relative;
    right: 21vw;
    top: 21vh;
}


.composition_foot{
    margin-left: 35vw;
    margin-top: 12vh;
}

.triangle-feature{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vh 0 0 100vw;
    border-color: transparent transparent transparent #1FB5CB;
}



.works_header{
    padding: 1vw;
    background-color: #1FB5CB;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}


.se-works-content{
    color: #fff;
}

.substrate{
    z-index: 0;
    background-color: #1FB5CB;
    height: 140px;
    width: 100%;
    position: relative;
    bottom: 80px;
}


.block{
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    opacity: 0;
    background: rgba(31, 180, 203, 0.459);
}

.work:hover .block{
    opacity: 1;
    cursor: pointer;
}

.work:hover .works-square{
    opacity: 1;
    cursor: pointer;
}

.work:hover .block-2{
    opacity: 1;
}

.small{
    font-size: 12px;
    color: #000;
}

.se-works-small{
    height: 40px;
    width: 100%;
    align-content: center;
    height: 9%;
    background-color: #1FB5CB;
    z-index: 0;
}

.se-works-small{
    position: relative;
    bottom: 20px;
    transform: rotate(2deg);
}

.work_detail{
    width: 300px;
    height: 300px;
    background-image: url('../img/maximize.png');
    background-size: cover;
}

.substrate_small{
    height: 40px;
    bottom: 45px;
    z-index: 4;
    width: 100%;
    text-align: center;
    position: relative;
}

.second_se{
    transform: rotate(-2deg)
}


.view_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}

.s_works{
    background-image: url('../img/welcome_bgi.png');
    background-size: cover;
}

.works{
    margin-bottom: 10vh;
}

.works-square{
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 100;
    background: #fff;
    transform: rotate(-45deg);
}

.works-square > .square_cont{
    display: block;
    transform: rotate(45deg);
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    font-size: 16px;
    color: #1FB5CB;
}

.works-square:hover{
    cursor: pointer;
}

.project_name{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Oswald', 'sans-serif';
    font-weight: normal;
}

.works_footer{
    display: flex;
    justify-content: center;
}

.button.works_button{
    margin-bottom: 20px;
    color: #1FB5CB;
    background-color: #fff;
}

.button.works_button:hover{
    color: #fff;
    background-color: inherit;
    cursor: pointer;
}

.helper-block{
    width: 100%;
    height: 50px;
    position: relative;
    top: 587px;
    background-color: #1fb5cb;
}

.triangle-commerce{
    width: 0;
    border-style: solid;
    border-width: 0 949px 200px 949px;
    border-color: transparent transparent #1FB5CB transparent;
    position: relative;
    top: 587px;
    transform: rotate(180deg);
}

.title_h3{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    position: relative;
    padding-right: 70px;
    top: 280px;
    padding-top: 80px;
    margin-left: 50px;
    text-align: center;
    font-weight: normal;
}

.section_subtext_commerce{
    position: relative;
    left: 45%;
    top: 270px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.e-commerce{
    position: relative;
    top: 300px;
    right: 40px;
    z-index: 1;
}

.e-commerce > li:nth-child(1){
    margin: 20px 120px 50px 20px;
    z-index: 1;
}

.e-commerce > li:nth-child(2){
    margin: 20px 20px 50px 120px;
    z-index: 1;
}

.big_work{
    height: 400px;
    width: 400px;
}


.big_work > .work_detail > .block{
    width: 400px;
    height: 400px;
}


.substrate_pro{
    transform: rotate(-2deg);
    background: #092342;
    width: 101%;
    height: 150px;
    position: relative;
    top: 250px;
    z-index: 0;
    right: 5px;
}

.professionals{
    color: #000;
}

.prof{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    padding: 80px;
}

.prof-desc{
    position: absolute;
    top: 90px;
    width: 250px;
    height: 200px;
    left: 0;
    margin-left: 25%;
    font-size: 16px;
}

.big_work > .work_detail{
    height: 400px;
    width: 400px;
}

.yellow-triangle {
    border-color: #DDE336 transparent transparent transparent

}


.feature_header > .header_text{
    top: 0;
}

.prof-header{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25%;
    bottom: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.prof-header > .position{
    font-size: 25px;
    color: #1fb5cb;
}


.prof-header > .name{
    font-size: 30px;
    color: #1C72A9;
    font-weight: bold;
}


.prof > img{
    height: 400px;
    width: auto !important;
    position: relative;
    right: 0;
    left: 200px;
    bottom: 100px;
}


.professionals .owl-nav{
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 2;
}

.professionals .owl-nav > div{
    position: absolute;
    top: 50px;
    padding: 0 10px;
}

.owl-prev{
    position: absolute;
    left: 450px;
    top: 100px;
    outline: none
}

.fa{
    color: #000;
    font-size: 30px;
}



.owl-next{
    position: absolute;
    right: 550px;
    top: 100px;
    outline: none
}



.owl-dots{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    position: relative;
    bottom: 200px;
}

.owl-dots > .owl-dot {
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 10em;
    display: inline-block;
    margin: 4px;
    transition: background-color .5s ease, transform .5s ease;
}


.owl-dots > .owl-dot.active{
    background: #1FB5CB;
    outline: none
}

.owl-carousel button.owl-dot{
    background: #DCDDAA;
}

.s-contact{
    background-image: url('../img/welcome_bgi.png');
    background-size: cover;
}

.contact_header{
    background-color: #DDE336;
}

.contact_header > .header_text{
    font-weight: normal;
}

.contact_header > .header_text > .section_title{
    font-size: 35px;
}



.row{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 50px;
}

.row > input{
    margin: 0 20px;
}

input[type="text"], input[type="tel"]{
    width: 400px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 50px;
}

::placeholder{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

textarea::placeholder{
    font-size: 16px;
    font-weight: normal;
}

textarea{
    width: 900px;
    height: 100px;
    border-radius: 30px;
    padding: 10px 20px;
}

input, textarea{
    background-color: #092342;
    color: #ffffff;
    outline: none;
    border-style: none;
}

.contact_button{
    background-color: #092342;
    color: #ffffff;
}

.contact_button:hover{
    background-color: #092342;
    color: #ffffff;
    cursor: pointer;
}

.triangle-left{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 600px;
    border-color: transparent transparent transparent #092342;
    top: 10vh;
}

.triangle-right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 99vw;
    border-color: transparent transparent #092342 transparent;
}

.site_footer{
    background: #092342;
    text-align: center;
}

.s-connect{
    padding: 30px 0
}

.s-connect > div > .header_text{
    text-transform: uppercase;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
}

.social:hover{
    transform: rotate(360deg);
    transition: transform .5s ease;
    cursor: pointer
}

.social > .fab {
    color: #092342;
    font-size: 30px;
}

.media{
    display: flex;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 50px;
}

.media > img{
    width: 120px;
}

.media_row{
    width: 100%;
    background-color: #1B3450;
}

.foot_row{
    padding: 10px;
    margin: 0;
}

.foot_ul > .foot_el > .fas, .far{
    font-size: 16px;
    color: #DDE336;
    margin-right: 10px
}

.foot_el > .fa-phone{
    transform: rotate(90deg)
}

.foot_el:nth-child(2){
    margin-right: 100px;
}
