@media (max-width: 1440px) {
    li.main_menu_el{
        margin: 0;
    }
    .s_welcome > .triangle {
        left: auto;
        right: 10.5vw;
        -moz-margin-end: -1.5vw;
    }


    .work_detail, .block {
        width: 200px;
        height: 200px;
    }

    .title_h1 {
        margin-left: 25px;
    }

    .s_welcome > span {
        margin-left: 41.4vw;
    }

    .squares {
        left: -0.3vw;
    }

    .feature{
        width: inherit;
    }

    .square:nth-child(3n+2) {
        left: 37vw;
    }

    .owl-carousel {
        margin-top: 15vh;
    }

    .square:nth-child(3n+3) {
        left: 51vw;
    }

    .composition_main{
        right: 30vw;
    }

    .owl-prev{
        left: 300px;
    }

    .owl-next{
        right: 300px;
    }

    .triangle-right{
        border-width: 0 0 50px 100vw;
    }

    .triangle-sub {
        position: relative;
        bottom: 2px;
    }

    .triangle-feature, .triangle-right {
        position: relative;
        top: 2px;
    }
 }

@media(max-width: 1024px) {
    .s_welcome > .triangle {
        left: inherit;
        right: 1.5vw;
    }

    .triangle {
        border-width: 600px 500px 0 500px;;
    }

    .square:nth-child(3n+3) {
        left: 53vw;
    }

    .square:nth-child(3n+2) {
        left: 35vw;
    }

    .squares {
        left: -0.3vw;
    }

    .composition_head{
        margin-left: 10%;
    }

    .composition_main{
        right: 0;
        top: -27vh;
        left: 46vw;
    }

    .works-square{
        width: 75px;
        height: 75px;
    }
}

@media (max-width: 768px){
    .works-square{
        width: 50px;
        height: 50px;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }

    .composition_head, .composition_main, .composition_foot{
        display: none;
    }

    .s_welcome > .triangle{
        right: 0;
        border-width: 495px 386px 0 386px
    }

    ul.menu > li{
        display: none;
    }

    #toggle_menu{
        display: block;
        font-size: 20px;
        position: absolute;
        left: 0;
        margin-top: 20px;
        margin-left: 30px;
    }

    ul.responsive > li:not(:nth-child(2n+5)):not(:nth-child(1)){
        display: block;
    }

    ul.responsive{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100vw;
        text-align: left;
        background-color: #092342;
        position: fixed;
        top: 5vw;
        left: 0;
        font-size: 18px;
    }

    li.main_menu_el:nth-child(2) {
        margin-left: 10px;
    }
    
    .squares{
        display: none;
    }

    .s_welcome > span {
        margin-left: 38.4vw;
    }

    .title_h1{
        font-size: 58px;
    }

    .feature{
        width: 180px;
    }

    .feature > img{
        height: 80px;
    }

    .composition_head {
        margin-left: 15%;
    }

    .substrate{
        width: 100%;
    }


    .substrate_pro, .triangle-right, .triangle-left{
        display: none;
    }

    .prof > img {
        height: 312px;
    }

    .prof-desc {
        font-size: 12px;
        width: 200px;
    }

    .prof{
        position: relative;
        right: 50px;
    }

    .owl-prev {
        left: 70px;
    }
    
    .owl-next{
        right: 70px;
    }

    .media > img {
        width: 62px;
    }

    .foot_ul > *{
        font-size: 10px;
    }

    .foot_el:nth-child(2) {
        margin-right: 0px;
    }

    
    textarea{
        width: 80vw;
    }
}

@media(max-width: 425px){
    .triangle{
        display: none;
    }

    ul.feature_list > li {
        margin-top: 10vh;
    }

    .s_welcome > span {
        margin-left: 22vw;
    }

    .feature_responsive{
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        font-size: 18px;
    }

    .wrapper > img{
        display: none;
    }

    ul.responsive{
        top: 7vh;
    }

    .wrapper{
        z-index: -1;
    }

    .feature {
        width: 180px;
        height: 250px;
    }

    .owl-carousel .owl-item img {
        display: none;
    }

    .owl-carousel {
        margin-top: 0;
    }

    .header_text > *{
        font-size: 14px;
    }


    .substrate:not(.substrate .substrate_small){
        height: 102px;
    }

    .s_works > .substrate{
        display: none;
    }

    .se-works, .se-works-content{
        transform: rotate(0deg)
    }


    .row, ul{
        flex-direction: column;
        align-items: center;
    }

    input[type="text"], input[type="tel"] {
        width: inherit;
    }

    textarea{
        margin-left: 0px;
    }

    .substrate_contact{
        display: none;
    }

    .contact_header > .header_text > * {
        font-size: 14px;
    }


    .s_works{
        position: inherit;
    }

    .owl-dots{
        bottom: 0;
    }

    .prof-desc {
        font-size: 10px;
        width: 200px;
    }

    .owl-prev, .owl-next{
        display: none;
    }

    .contact_header > .header_text > .section_title {
        font-size: 14px;
    }

    .contact_form{
        top: 0;
    }

    .site_footer{
        top: 0;
    }

    .row > input {
        margin: 10px 20px;
    }

}



